.gant-planning
{
	background-color:#F2F2F2;
	width:700px;
	height:400px;
	padding:4px;
}
.gant-planning .description, .gant-planning .phase
{
	cursor:ew-resize;
}

.gant-planning .description.stretch-right, .gant-planning .phase.stretch-right
{
	cursor:e-resize;
}

.gant-planning .description.stretch-left, .gant-planning .phase.stretch-left
{
	cursor:w-resize;
}
