.gant-planning
{
	background-color:#F2F2F2;
	width:700px;
	height:400px;
	padding:4px;
}
.gant-planning.mode-planning .description, .gant-planning.mode-planning .phase
{
	cursor:ew-resize;
}

.gant-planning.mode-planning .description.stretch-right, .gant-planning.mode-planning .phase.stretch-right
{
	cursor:e-resize;
}

.gant-planning.mode-planning .description.stretch-left, .gant-planning.mode-planning .phase.stretch-left
{
	cursor:w-resize;
}

.description
{
-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
-o-user-select: none; 
}
